.header-text {
  font-size: 2rem;
  font-weight: bold;
  color: #000;
}

.no-data {
  text-align: center;
  color: #000
}

.footer-inscribe {
  background-image: url(./footer_bg.jpg);
  background-size: 15rem;
  background-repeat: no-repeat;
  height: 15rem;
  width: 15rem;
  right: 0;
  float: right;
  text-align: center;
  font-size: 1.1rem;
}
